@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  scroll-behavior: smooth;
}


.fade {
  animation: fadeIn .8s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

.scaleIn {
  animation: scaleIn .25s;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    scale: .9;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}


.swiper-button-next,
.swiper-button-prev {
  @apply bg-gradient-to-r from-orange-600 to-pink-600 bg-clip-text text-transparent !important;
}

.swiper-pagination-bullet-active {
  @apply bg-gradient-to-r from-orange-600 to-pink-600 !important;
}

.clip-triangle {
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
}